# Tags configuration
owner       = "Your Name"
environment = "Dev"
project     = "Athena"
managedby   = "Terraform"

# VPC configuration
vpc_name   = "athena"
cidr_block = "10.0.0.0/16"

# IAM configuration
iam_role_name             = "athena-ops-role"
iam_instance_profile_name = "athena-ops-role-profile"

# Launch template configuration
ec2_name       = "athena"
instance_types = "t3.micro"

# RDS configuration
db_subnet_group_name = "athena-subnet-group"
db_name              = "athena-db"
db_username          = "admin"
db_password          = "your password"
